<!--
 Virtual sensor that uses semantic map information to "see" throat-cutting tables
 Note: as we use /plate_top_link as sensor_frame, be sure that there's an "slice"
 of the voxel map at that height (around 41 cm)
-->
<launch>
  <node name="virtual_sensor" pkg="yocs_virtual_sensor" type="yocs_virtual_sensor_node">
    <param name="range_min"    value="0.0"/>
    <param name="range_max"    value="6.0"/>
    <param name="frequency"    value="10.0"/>
    <param name="hits_count"   value="3"/>
    <param name="global_frame" value="/map"/>
    <param name="sensor_frame" value="/plate_top_link"/>
  </node>
</launch>
