<launch>
  <arg name="world" default="Maze world"/>

  <node pkg="world_canvas_server" type="save_map.py" name="save_map">
    <!-- TODO: load map from a PNG and metadata files, as map_server does -->
    <param name="file"     type="string" value="$(find world_canvas_server)/test/annotations/maze_map.yaml"/>
    <param name="world"    type="string" value="$(arg world)"/>
    <param name="map_name" type="string" value="maze"/>
  </node>
  <node pkg="world_canvas_server" type="save_walls.py" name="save_walls">
    <param name="file"  type="string" value="$(find turtlebot_stage)/annotations/wall_list.yaml"/>
    <param name="world" type="string" value="$(arg world)"/>
  </node>
  <node pkg="world_canvas_server" type="save_columns.py" name="save_columns">
    <param name="file"  type="string" value="$(find turtlebot_stage)/annotations/column_list.yaml"/>
    <param name="world" type="string" value="$(arg world)"/>
  </node>
</launch>
