<launch>
  <arg name="base" value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, rhoomba -->

  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo" type="debug" args="-u $(find turtlebot_gazebo)/worlds/empty.world" respawn="false" output="screen"/>
  <node name="gazebo_gui" pkg="gazebo" type="gui" />


  <include file="$(find turtlebot_gazebo)/launch/$(arg base).launch"/>
</launch>
