<launch>
  <arg name="base" value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, rhoomba -->
  <arg name="battery"    value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 --> 
  <arg name="stacks"     value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons --> 
  <arg name="3d_sensor"  value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro --> 

  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />

<!--   <node name="gazebo" pkg="gazebo_ros" type="debug" args="-u $(find turtlebot_gazebo)/worlds/empty.world" respawn="false"/> -->
<!--   <node name="gazebo_gui" pkg="gazebo_ros" type="gui" /> -->
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- more default parameters can be changed here -->
  </include>

  <include file="$(find turtlebot_gazebo)/launch/_$(arg base).xml">
    <arg name="base" value="$(arg base)"/>
    <arg name="stacks" value="$(arg stacks)"/>
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
  </include>
</launch>
